.hero {
    width: 80%;
    margin: 8rem auto;
    display: flex;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.hero-name {
    font-size: larger;
    width: 60%;
    margin-right: 3rem;
    margin-bottom: 30px;
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-size: 1.1rem;
}

.text {
    margin-bottom: 3rem;
}

.greeting {
    color: var(--color-primary);
}

.name {
    color: var(--color-secondary);
    font-size: 5rem;
}

.role {
    color: var(--color-secondary);
    font-size: 3rem;
}

.hero-discription {
    line-height: 1.1;
    font-size: larger;
}

.hero-image {
    border-radius: 0.4rem;
    width: 30%;
    transform: rotateY(-30deg);
}

@media (max-width: 1500px) {
    .hero-image {
        width: 34%;
    }
}