.hero {
    width: 90%;
    margin: 8rem auto;
    display: flex;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.hero-name {
    font-size: larger;
    width: 60%;
    margin-right: 3rem;
    margin-bottom: 30px;
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-size: 1.1rem;
}

.text {
    margin-bottom: 3rem;
}

.greeting {
    color: var(--color-primary);
}

.name {
    color: var(--color-secondary);
    font-size: 5rem;
}

.role {
    color: var(--color-secondary);
    font-size: 3rem;
}

.hero-discription {
    line-height: 1.1;
    font-size: larger;
}

.image {
    width: 30rem;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-image: url(../images/Gradient.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14rem;
    max-height: 100%;
    object-fit: cover;
    object-position: center center;
    /* border-radius: 50%; */
    z-index: 0;
}


/* @media (max-width: 1500px) {
    .hero-image {
        width: 34%;
    }
} */