h1 span {
    color: var(--color-secondary);
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--width-main);
    margin: auto;
    font-size: 1.5rem;
}

.about-text p {
    color: var(--color-primary);
    font-family: var(--font-secondary);
    font-size: 1.3rem;
}

.about-img {
    width: 40%;
    border-radius: 1.7rem;
}

.social {
    width: 20%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.social li {
    cursor: pointer;
}