.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    /* background-color: #141d41;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px); */
}

.Navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.Navbar li {
    margin-left: 1.4rem;
    cursor: pointer;
    text-transform: capitalize;
}

.Navbar li:hover {
    color: var(--color-secondary);
    transition: 0.1s;
}

.logo {
    border-radius: 50%;
    height: 60px;
    cursor: pointer;
}