.Navbar {
    display: flex;
    justify-content: space-between;
    padding: .5rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #0a0f24;
    /* opacity: .7; */
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.Navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.Navbar li {
    margin-left: 1.4rem;
    cursor: pointer;
    text-transform: capitalize;
}

.Navbar li:hover {
    color: var(--color-secondary);
    transition: 0.1s;
}

.logo {
    border-radius: 50%;
    height: 60px;
    cursor: pointer;
}