 .work-experience {
     width: var(--width-main);
     margin: 8rem auto;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     padding: 1.3rem;
 }

 .experiences {
     display: flex;
     width: 90%;
     justify-content: flex-start;
 }

 .experience {
     margin: 2rem;
     /* border-left: #085025 1px solid; */
 }

 .experience-title {
     font-size: 3rem;
     color: var(--color-secondary);
 }

 .period {
     padding: 0;
     font-size: 1rem;
     margin-top: .7rem;
     font-weight: 200;
     color: var(--color-primary);

 }

 li {
     list-style-type: none
 }

 .experience-content li {
     font-size: x-large;
     color: var(--color-primary);
     list-style-type: none;
     font-size: 1.3rem;
     margin: .7rem auto;
     height: 100%;
 }

 .experience-content li::marker {
     color: var(--color-secondary);
 }

 .experience-skills {
     display: flex;
     flex-direction: row;
 }

 .experience-skills li {
     border: 1px solid var(--color-secondary);
     padding: .5rem;
     margin: 1.5rem;
     font-size: .9rem;
     cursor: pointer;
     color: var(--color-secondary);
 }

 .experience-skills li:hover {
     background-color: #085025;
     transition: .5s;
 }

 .nav {
     height: 70%;
     border-left: 1px solid var(--color-primary);
     padding-top: 0;
     padding-bottom: .6rem;
 }

 .nav-items {
     cursor: pointer;
     padding: 1rem 3rem;
     width: 60%;
     font-size: 1.2rem;
     color: var(--color-primary);
 }

 .nav-items:hover {
     /* background-color: #0f1631; */
     color: var(--color-secondary);

 }

 .active {
     background-color: #0f1631;

 }