@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Nunito+Sans:wght@300&family=Oswald:wght@200;400&display=swap');

:root {
  --font-primary: 'League Spartan', sans-serif;
  --color-secondary: #12f56d;
}

.App {
  /* text-align: center; */
  font-family: var(--font-primary)
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}